

/*网页开始*/

.content{
	width:1090px;
	margin:0 auto;
}

/*头部*/
.wrapper_header{
	height:35px;
	background: #333333;
}
.header{
	height:35px;
	background: #333333;
}
.header_title{
	float: left;
	line-height:35px;
	color: #cccccc;
}
.header_lb,.header_gg{
	float: left;
	line-height:35px;
	margin-left: 30px;
	color: #b4a078;
}
.header_gg:hover{
	color: #fff;
}
.header_nav{
	float: right;
	line-height:35px;
}
.a_parent{
	position: relative;
}
.card{
	position: absolute;
	top:35px;
	left:-12px;
	width:88px;
	height: 135px;
	border:1px solid #ccc;
	text-align: center;
	border-radius:5px;
	box-shadow:0px 0px 5px #ccc;
	display: none;
	background: #fff;
	color: #000;
}
.card p{
	width:58px;
	line-height: 44px;
	border-bottom:1px solid #ccc;
	margin-left:13px;
}
.customer_father{
	position: relative;
}
.customer_card{
	position: absolute;
	top:35px;
	left:-12px;
	width:88px;
	height: 145px;
	border:1px solid #ccc;
	text-align: center;
	border-radius:5px;
	box-shadow:0px 0px 5px #ccc;
	display: none;
	background: #fff;
	color: #000;
}
.customer_card p{
	width:58px;
	border-bottom:1px solid #ccc;
	margin-left:13px;
}
.header_nav>a{
	color: #ccc;
	margin:0 3px;
	display: inline-block;
	height: 35px;
}
.header_nav>a:hover{
	color: #fff;
}
.header_nav>span{
	color: #494949;
	font-weight:900;
}
.jt,.jt2{
	display: inline-block;
	height: 35px;
	cursor: pointer;
}
.jt>img,.jt2>img{
	transform: rotateZ(180deg);
}
/*头部logo以及购物车*/
.wrapper_logo{
	height: 152px;
	background: #fff;
	
}
.logo{
	height: 152px;
	overflow: hidden;
	line-height:152px;
}
.logo_img{
	width: 180px;
	height: 60px;
	cursor: pointer;
	float: left;
	margin-left:300PX;
}
.seach_gwc{
	width: 335px;
	float: right;
}
.icon-fdj,.icon-gwc{
	display: inline-block;
	color: #b6a27b;
	font-weight:900;
	font-size:16px;
}
.icon-fdj{
	margin-right:20px;
}
.text{
	width:252px;
	border:0;
	border-bottom:1px solid #ebe6dd;
	height:22px;
	line-height: 22px;
	outline:none;
}
.wrapper_nav{
	height:50px;
	background: #fff;
}
.nav{
	height: 30px;
	display: flex;
	justify-content:space-around;
	line-height:30px;
}
.nav a{
	display: block;
    color: #000;
    font-weight: 800;
    font-size: 14px;
}
.nav .page{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
.nav a:hover{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
/*吸顶效果部分*/
.warpper_fixed{
	width: 100%;
	height:60px;
	box-shadow:0 0 5px #ccc ;
	position: fixed;
	top: 0;
	background: #fff;
	z-index:99999;
	line-height:60px;
	display: none;
}

.yx-cp-m-funcTab-fixed{
	height:60px;
}

.yx-cp-m-funcTab-fixed .funcTab-logo{
	height:35px;
	width:105px;
	margin:auto 0;
	float: left;
}
.yx-cp-m-funcTab-fixed .funcTab-logo img{
	height:35px;
	width:105px;
}
.yx-cp-m-funcTab-fixed .funcTab-nav{
	width: 800px;
	height:60px;
	display: flex;
	justify-content: space-between;
	margin-left:30px;
	float: left;
}
.yx-cp-m-funcTab-fixed .funcTab-nav a{
	font-size: 16px;
	font-weight:900;
	color: #333;
	height:45px;
}
.yx-cp-m-funcTab-fixed .funcTab-nav a:hover{
	color: #b4a078;
	border-bottom: 3px solid #b4a078;
}
.funcTab-secah{
	float: right;
	width: 130px;
	height:35px;
	margin-top:15px;
	line-height:35px;
	display: flex;
	justify-content:space-around;
	
}
.funcTab-secah a{
	color: #b4a078;
	font-size:16px;
	height:35px;
}
.funcTab-secah .icon-fdj{
	float: right;
	margin-left:20px;
	margin-right: 0;
}
.funcTab-secah .icon-yf{
	margin:0 10px ;
	position: relative;
}
.hide_reg{
	width:64px;
	height: 88px;
	background: #fff;
	position: absolute;
	top:60px;
	right:233px;
	border:1px solid #ccc ;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 8px #ccc;
	display: none;
}
.hide_reg hr{
	width:45px;
	color: #b4a078;
	
}
/*加入购物车后显示的框*/
.get_gwc{
	width: 330px;
	height: 350px;
	background: #fff;
	position: absolute;
	top: 60px;
	right:175px;
	border:1px solid #ccc ;
	border-radius: 3px;
	box-shadow:0 0 5px #ccc;
	display: none;
}
.get_gwc .getgwu_top{
	width: 100%;
	height: 80px;
	
}
.get_gwc .getgwu_top .top_img{
	width:75px;
	height:76px;
	background: #f4f4f4;
	text-align: center;
	box-sizing: border-box;
	margin-top:15px;
	margin-left:18px;
	float: left;
}
.get_gwc .getgwu_top .top_img img{
	margin-top:15px;
	float: left;
	margin-left:12px;
}
.get_info{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.get_info .info_one_line{
	width: 201px;
}
.get_info .info_one_line span:nth-child(1){
	font-size:16px;
	color: #333;
	float: left;
}
.get_info .info_one_line span:nth-child(2){
	font-size:12px;
	color: #b62628;
	float: right;
}
.info_two_line{
	width: 201px;
	color: #999999;
}
.info_two_line span:nth-child(1){
	float: left;
	margin:0 5px;
	margin-left:0;
}

.getgwc_buttom{
	height:80px;
	width:100%;
	background: #f4f0ea;
	margin-top:189px;
}
.getgwc_buttom .toSulter{
	width: 82px;
	float: left;
	margin-left:20px;
	font-size:16px;
	height:80px;
}
.getgwc_buttom .toSulter span:nth-child(1){
	display: inline-block;
	height: 22px;
	float: left;
	margin-top:10px;
	color: #999999;
}
.getgwc_buttom .toSulter span:nth-child(2){
	display: inline-block;
	height: 22px;
	float: left;
	color: #be4141;
}
.toAccount{
	width: 138px;
	height: 100%;
	float: right;
	margin-right: 38px;
}
.toAccount a{
	display: inline-block;
	width: 138px;
	height: 45px;
	margin-top: 18px;
	background: #b4a078;
	text-align: center;
	line-height:45px;
	color: #fff;
	border-radius: 5px;
}
/*注册登录*/
/*body{
	width:100%;
	height:100%;
}*/
.masking{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	position: fixed;
	top:0;
	display: none;	
	z-index:999;
}
.yx-login{
	width: 386px;
	height: 458px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top:-229px;
	margin-left:-193px;
	z-index: 999;
	text-align: center;
	display: block;
}
#shut_login{
	width: 28px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right:12px;
	top: 12px;
	background:url(../images/shut_login_03.jpg);
	cursor: pointer;
	
}
.login_header{
	width: 276px;
	height: 20px;
	display: flex;
	justify-content: space-between;	
	font-size:18px;
	float: left;
	margin-top: 31px;
	margin-left:56px;
}
#phone_login{
	color: #000;
}
#email_login{
	color: #999999;
}
.yzm_login{
	height: 36px;
	margin-top: 64px;
	text-align: right;
	font-size: 12px;
	line-height:36px;
	color: #666666;
}
#yzm_login{
	float: right;
	margin-right: 42px;
}
.phone_line{
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
	margin-top:12px;
	margin-left: 43px;
	color: #ececec;
}
#txt_phone{
	border:0 ;
	width: 254px;
	height:36px;
	margin-left:9px;
}
.icon-sj{
	display: inline-block;
	margin:0 5px;
	font-size: 14px;
	color: #ececec;
}
#txt_phone input::-webkit-input-placeholder{
	color: #dbdbdb;
}
.drag{
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
	margin-top:15px;
	margin-left: 43px;
	color: #45494c;
	text-align: center;
	line-height:36px;
	background: #f7f9fa;
	position: relative;
	user-select: none;
}
.drag .piece{
	width: 40px;
	height: 39px;
	border-radius:3px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: -1px;
	font-size:14px;
	font-weight: 900;
	cursor: pointer;
	background: #fff;
}
.drag .piece:hover{
	background: #1991fa;
	color: #FFF;
}
.get_yzm{
	margin-top: 15px;
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
	margin-left: 43px;
	color: #ececec;
	box-sizing: border-box;
}
.get_yzm .txt_impot{
	border:0 ;
	width:200px;
	height:35px;
	margin-left: 8px;
	float: left;
}

.get_yzm .txt_getyzm{
	border:0;
	width:88px;
	height:35px;
	background: #eeeeee;
	text-align: center;
	line-height:36px;
	color: #333333;
	font-size: 14px;
	cursor: pointer;
	float: right;
	margin-top:-1px;
	margin-right:-1px;
	margin-bottom:40px;
}
.get_yzm .txt_getyzm:hover{
	color: #b4a078;
}
.btn_login{
	width: 298px;
	height: 48px;
	color: #ececec;
	background: #b4a078;
	text-align: center;
	color: #fff;
	line-height:48px;
	border:0 ;
	border-radius: 5px;
	outline:none ;
	cursor: pointer;
	margin-bottom:60px;
}
.login_footer{
	height: 60px;
	width:386px;
	background: #f5f3ef;
	line-height:60px;
}
.footer_left a{
	display: inline-block;
	float: left;
	margin-left:37px;
}

.footer_right a{
	color: #b0a1bb;
	font-size: 12px;
}
/*注册*/
.yx-register{
	width: 388px;
	height:500px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top:-229px;
	margin-left:-193px;
	z-index: 999;
	text-align: center;
	display: none;
}
.yx-register .yx-regHeader .yx-mobileReg{
	font-size: 18px;
	float: left;
}
.yx-register .yx-regHeader{
	width:296px;
	margin:32px auto;
	height:20px;
	line-height:20px;
	color: #4c4c4c;
}
.yx-register .yx-regHeader a{
	float: right;
}
.yx-register .yx-regHeader a:nth-child(2){
	margin-left:30px;
}
.regManager{
	height:345px;
	width:302px;
	margin:36px auto;
}
.regManager .inputbox{
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
}
.regManager .inputbox a{
	display: inline-block;
	margin:0 5px;
	font-size: 16px;
	color: #ececec;
}
.regManager .inputbox span{
	color: #ececec;
}
.regManager .inputbox .yx_register_phone{
	border: 0;
	width:254px;
	height:36px;
}
.register_drag{
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
	margin-top:15px;
	color: #45494c;
	text-align: center;
	line-height:36px;
	background: #f7f9fa;
	position: relative;
	user-select: none;
}
.register_drag .register_piece{
	width: 40px;
	height: 39px;
	border:2px solid #d1d4d6;
	border-radius:3px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: -1px;
	font-size:14px;
	font-weight: 900;
	cursor: pointer;
	background: #fff;
}
.reg_get_yzm{
	margin-top: 15px;
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
	color: #ececec;
	box-sizing: border-box;
}
.reg_get_yzm .reg_txt_impot{
	border:0 ;
	width:200px;
	height:35px;
	margin-left: 8px;
	float: left;
}

.reg_get_yzm .reg_txt_getyzm{
	border:0;
	width:88px;
	height:35px;
	background: #eeeeee;
	text-align: center;
	line-height:36px;
	color: #333333;
	font-size: 14px;
	cursor: pointer;
	float: right;
	margin-top:-1px;
	margin-right:-1px;
}
.reg_get_yzm .reg_txt_getyzm:hover{
	color: #b4a078;
}
.regManager .reg_inputbox{
	margin-top:15px;
	width: 298px;
	height: 36px;
	border:1px solid #f3f3f3 ;
	box-shadow:0 0 5px #ccc ;
}
.regManager .reg_inputbox .yx_register_phone{
	border: 0;
	width:254px;
	height:36px;
}
.regManager .reg_inputbox span{
	color: #f3f3f3;
}
.btn_register{
	margin-top:40px;
	width: 298px;
	height: 48px;
	border:0 ;
	background: #b4a078;
	text-align: center;
	line-height:48px;
	font-size:18px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
.fur-item{
	text-align: left;
	height: 16px;
	line-height:16px;
	margin-top: 15px;
	float: left;
	color: #999999;
}
.fur-item .auto-id a{
	height:16px;
	color: #999999;
}
#shut_register{
	width: 28px;
	height: 25px;
	display: inline-block;
	position: absolute;
	right:12px;
	top: 12px;
	background:url(../images/shut_login_03.jpg);
	cursor: pointer;
	
}
/*购物车开始*/

.m-crumb{
	height: 52px;
	line-height: 52px;
	color: #333333;
}
.detailHd{
	height:612px;
	
}
.m-slide{
	width: 524px;
	height: 473px;
	float: left;
	position: relative;
}
.m-slide .max_img{
	width: 428px;
	height: 428px;
	float: left;
}
/*蒙版*/
.mask{
	width:187px;
	height: 189px;
	position: absolute;
	background:rgba(0,0,0,.3);
	cursor: move;
	display: none;
}
/*大图显示区*/
.da_img{
	width: 428px;
	height: 428px;
	position: absolute;
	left:438px;
	top:0;
	border:1px solid #f5f3ef;
	overflow: hidden;
	display: none;
	z-index:800;
	background: #e3d4bf;
}
.da_img img{
	position: absolute;
}

.m-slide .max_img img{
	width: 428px;
	height: 428px;
	background: #e3d4bf;
	float: left;
	cursor: pointer;
	
}

.img_list{
	width:78px;
	height: 440px;
	float: right;
}

.img_list ul{
	width:78px;
	height: 440px;
}
.img_list ul li{
	width:78px;
	height: 78px;
    overflow: hidden;
    margin-bottom: 10px;
    vertical-align: top;
}
.img_list ul li img{
	width:76px;
	height: 76px;
	cursor: pointer;
	background: #f4f4f4;
}
.m-entrance{
	width: 131px;
	height: 43px;
	float: left;
}
.m-entrance a{
	width: 128px;
	height: 26px;
	display: inline-block;
	border:1px solid #d4c9b3 ;
	text-align: center;
	line-height:26px;
	float: left;
	margin-top: 15px;
	border-radius:2px;
	background: #f5f3ef;
}
.m-entrance a:hover{
	background: #fff;
}
.m-info{
	float: right;
    width: 504px;
    height:612px;
    padding-left: 62px;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
	
}
.detailTag{
	display: inline-block;
	width: 62px;
	height: 18px;
	background: #f5f3ef;
	border:1px solid #e2dacc ;
	color: #e2dacc;
	text-align: center;
	line-height:18px;
	font-size: 10px;
}
.name{
	margin-top: 11px;
}
.name span:nth-child(1){
	font-size:20px;
	color: #333;
}
.name span:nth-child(2){
	font-size:18px;
	color: #e36844;
	float: right;
	font-weight: 900;
}
.desc{
	margin-top: 11px;
}
.desc span:nth-child(1){
	color: #b29999;
	font-size:14px;
}
.desc span:nth-child(2){
	float: right;
	color: #333;
}
.price{
	width:504px;
	height:244px;
	background:#f5f3ef;
	margin-top:23px;
	color: #666666;
}
.m-bonus{
	width:504px;
	height: 32px;
	line-height: 32px;
}
.m-bonus span:nth-child(1){
	float: left;
	margin-left:10px;
}
.m-bonus span:nth-child(2){
	display: inline-block;
	width: 80px;
	height: 20px;
	margin-left:10px;
	text-align: center;
	line-height:20px;
	color: #fff;
	background: #e36844;
	margin-left:37px;
}
.m-bonus span:nth-child(3){
	margin-left:10px;
	color: #d7282d;
}
.m-bonus a{
	color: #d7282d;
}
.f-clearfix{
	width:504px;
	height:54px;
	line-height:54px;
}
.f-clearfix span:nth-child(1){
	float: left;
	margin-left:10px;
}
.f-clearfix span:nth-child(2){
	float: left;
	font-size: 22px;
	color: #d7282d;
	margin-left:16px;
}
.f-clearfix span:nth-child(3){
	float: left;
	text-decoration: line-through;
	color: #999;
	margin-left:12px;
}
.f-clearfix a{
	display: inline-block;
	width: 58px;
	height: 20px;
	background: #e36844;
	color: #fff;
	text-align: center;
	line-height:20px;
	margin-left:10px;
}
.pointInfo{
	height: 24px;
	line-height:24px;
}
.pointInfo span:nth-child(1){
	margin-left:10px;
}
.pointInfo span:nth-child(2){
	margin-left:30px;
}
.m-parampicker{
	height: 24px;
	line-height:24px;
}
.m-parampicker span:nth-child(1){
	margin-left:10px;
}
.m-parampicker span:nth-child(2){
	margin-left:30px;
}
.m-delivery{
	height: 24px;
	line-height:24px;
}
.m-delivery span:nth-child(1){
	margin-left: 10px;
}
.m-delivery span:nth-child(2){
	margin-left: 30px;
}
.m-delivery span:nth-child(3){
	display: inline-block;
	width: 108px;
	height: 24px;
	background: #fff;
	text-align: center;
	line-height:24px;
	border:1px solid #cccccc ;
	box-sizing: border-box;
}
.m-info hr {
    margin: 10px 20px 10px 10px;
    overflow: hidden;
    border: none;
    height: 1px;
    border-bottom: 1px dashed #d2d2d2;
}
.field_server{
	height:48px;
}
.field_server span{
	float: left;
	margin:8px 0 0 10px;
}
.field_server .policyBox{
	width: 356px;
	height:48px;
	float: left;
}
.yx-clearfix{
	width: 494px;
	height: 67px;
	padding-left:10px;
}
.yx-clearfix span{
	display: inline-block;
	width: 54px;
	height: 50px;
	line-height:50px;
	text-align:left;
	float: left;
	margin-top:10px;
}
.yx-clearfix ul{
	float: left;
	position: relative;
}
.yx-clearfix ul li{
	float: left;
	width:49px;
	height: 49px;
	border:1px solid #ccc ;
	background: #f4f4f4;
	margin-top: 10px;
	margin-left:12px;
	cursor: pointer;
}
#black{
	display: inline-block;
	width:36px;
	height: 23px;
	border:1px solid #ccc;
	text-align: center;
	line-height:23px;
	position: absolute;
	top:60px;
	left:20px;
	background: #fff;
	display: none;
}
#nccolor{
	display: inline-block;
	width:47px;
	height: 23px;
	border:1px solid #ccc;
	text-align: center;
	line-height:23px;
	position: absolute;
	top:60px;
	left:77px;
	background: #fff;
	display: none;
}
.yx_size{
	width: 494px;
	height: 45px;
	padding-left:10px;
	margin-top: 15px;
}
.yx_size span{
	display: inline-block;
	width: 54px;
	height: 30px;
	line-height:30px;
	text-align:left;
	float: left;
}
.yx_size ul{
	float: left;
	width: 438px;
	height:45px;
}
.yx_size ul li{
	float: left;
	width: 50px;
	height:30px;
	border:1px solid #ccc ;
	margin-top: 10px;
	text-align: center;
	line-height:30px;
	margin:0 6px;
	cursor: pointer;
}
.yx_size ul li:nth-child(1){
	margin: 0;
}
.yx-num{
	width:504px;
	height: 49px;
	line-height:49px;
	user-select: none;
}
.yx-num .yx-formtc{
	width:190px;
	height:39px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.yx-num .yx-formtc span{
	display: inline-block;
	width: 54px;
	height: 30px;
	font-size: 12px;
	color: #666;
	float: left;
	line-height:30px;
}
.yx-num .yx-formtc .u-selnum{
	width:136px;
	height: 32px;
	float: left;
	border:1px solid #ccc ;
	box-sizing: border-box;
}
.yx-num .yx-formtc .u-selnum .btn-minus{
	display: inline-block;
	width: 36px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-right:1px solid #ccc ;
	font-size: 16px;
	float: left;
	cursor: pointer;
}
.yx-num .yx-formtc .u-selnum .btn-plus{
	display: inline-block;
	width: 36px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-left:1px solid #ccc ;
	font-size: 16px;
	float: right;
	cursor: pointer;
}
.yx-num .yx-formtc .u-selnum .btn-txt{
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:0 ;
	font-size: 16px;
	float: left;
}
.yx-num .size-helper{
	width:76px;
	height: 18px;
	float: left;
	float: 10px;
	margin:auto 10px;
}
.yx-num .size-helper span:nth-child(1){
	display: inline-block;
	width:18px;
	height: 18px;
}
.btns{
	width:492px;
	height:50px;
	margin-top:30px;
	margin-left: 12px;
	
}
.btns button:nth-child(1){
	display: inline-block;
	width: 168px;
	height: 50px;
	text-align: center;
	line-height:50px;
	border:1px solid #c3b495 ;
	border-radius: 2px;
	background: #f5f3ef;
	color: #c3b495;
	font-size: 18px;
	box-sizing: border-box;
	float: left;
	outline: none;
	cursor: pointer;
}
.btns button:nth-child(2){
	width: 168px;
	height: 50px;
	display: inline-block;
	line-height:50px;
	border:1px solid #c3b495 ;
	line-height:50px;
	background: #b4a078;
	border-radius: 2px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	float: left;
	margin:0 10px;
	outline: none;
	cursor: pointer;
}
.btns button:nth-child(2) span{
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	font-size: 18px;
}
.btns button:nth-child(2) .icon-gwc{
	color: #fff;
	margin-right:10px;
}
.btns .w-collectZone{
	display: inline-block;
	width: 50px;
	height: 50px;
	border:1px solid #c3b495 ;
	box-sizing: border-box;
	float: left;
	border-radius:2px ;
	cursor: pointer;
}
.btns .w-collectZone span:nth-child(1){
	display: inline-block;
	width: 48px;
	height: 24px;
	text-align: center;
	line-height:24px;
	font-size: 14px;
}

.btns .w-collectZone span:nth-child(2){
	display: inline-block;
	width: 48px;
	height: 22px;
	text-align: center;
	line-height:22px;
	font-size: 14px;
	color: #999;
}
/*加入购物车显示框*/
/*.showCart{
    width: 370px;
    height: 177px;
    background:papayawhip;
    box-shadow: 0 0 10px #ccc;
    position: fixed;
    top: -60px;
    left: 50%;
    margin-left: -220px;
    z-index: 999900;
    text-align: center;
    line-height:233px;
    font-size:30px;
    color: green;
    display: none;
}*/


/*商品详情页*/
.wrapper_inner{
	margin-top: 30px;
	height: 43px;
}
.innerWrap{
	width:750px;
	height: 43px;
	background: #f5f5f5;
	float: left;
}
.innerWrap .item_ul{
	float: left;
	width:370px;
	height:43px;
}
.innerWrap .item_ul li{
	float: left;
	width:123px;
	height:43px;
	border-right:1px solid rgb(232, 232, 232) ;
	box-sizing: border-box;
	text-align: center;
	line-height:43px;
	font-size: 14px;
	color: #333333;
	cursor: pointer;
}
.innerWrap .item_ul li span{
	color: #c2a078;
}
.active{
	border-top:1px solid #b4a078;
	background: #fff;
}

.inner_r{
	width: 300px;
	height: 42px;
	background: #f5f5f5;
	border-bottom:1px solid #eeeeee ;
	float: right;
	text-align: center;
	line-height:42px;
	color: #333;
	font-size:18px;
	font-weight: 900;
}

.wrapper_dataHtml{
	height: auto;
}
.left-detailHtml{
	width: 750px;
	float: left;
	height: 100%;
}
.right-detailHtml{
	width: 300px;
	float: right;
	height: 2033px;
	border: 1px solid #e8e8e8;
	border-top:0 ;
}

.right-detailHtml ul{
	width:298px;
	margin-top:30px;
	height:2030px;
}
.right-detailHtml ul li{
box-sizing: border-box;
}
.right-info{
	width: 250px;
	height: 318px;
	border-bottom:1px solid #eeeeee;
	padding-bottom:10px;
	margin:0 auto;
}

.right-info dl{
	width:250px;
	height: 250px;
}
.right-info dd{
	width:250px;
	height: 76px;
}
.right-info dd div:nth-child(1){
    font-size: 14px;
    line-height: 1;
    max-width: 156px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:10px 45px;
}
.right-info dd div:nth-child(2){
	float: left;
	width: 100%;
	text-align: center;
	color: #d62525;
}
.right-info .gwu_bg{
	width:25PX;
	height: 26PX;
	display: inline-block;
	background:url(../childImg/icon-yxtop-s798f18be67-04eee57233.png) 0 -112px no-repeat;
	cursor: pointer;
	
}
.right-info .my_pre{
	line-height: 24px;
	width:25px;
	height: 25px;
	display: inline-block;
	position: relative;
	font-size: 16px;
	top:-5px;
}

.detaImg{
	margin-top: 38px;
}
.m-attrList{
	width:750px;
	height:170px;
	margin-top: 32px;
}
.m-attrList li:nth-child(1){
	width:370px;
	height:40px;
	border-bottom:1px dotted #ccc ;
	float: left;
	line-height:40px;
	padding-left:30px;
	box-sizing: border-box;
	font-size:14px;
}
.m-attrList li:nth-child(2){
	width:380px;
	height:40px;
	border-bottom:1px dotted #ccc ;
	float: right;
	line-height:40px;
	padding-left:30px;
	box-sizing: border-box;
	font-size:14px;
}
.m-attrList li:nth-child(3){
	width:750px;
	height:40px;
	border-bottom:1px dotted #ccc ;
	float: right;
	line-height:40px;
	font-size:14px;
	padding-left:30px;
	box-sizing: border-box;
}

.m-attrList li:nth-child(4){
	width:750px;
	height:88px;
	
}
.m-attrList li:nth-child(4) p{
	width:105px;
	height:24px;
	float: left;
	margin-left: 30px;
	line-height:24px;
	margin-top: 10px;
}
.m-attrList li:nth-child(4) span{
	display: inline-block;
	width:690px;
	height:48px;
	float: left;
	margin-left: 30px;
	color: #a2a2c2;
	line-height: 24px;
	
}



/*底部*/
body{
	height:16090px;
}
.wrapper_footer{
	width: 100%;
	height: 299px;
	padding-top: 60px;
    padding-bottom: 34px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
    float: left;
}

.footer .yx-cp-item{
	width:33.3333%;
	height: 204px;
	float: left;
	border-right: 1px solid #e9e9e9;
	box-sizing: border-box;
	float: left;
	    
}

.footer .yx-cp-item .yx-w-btn{
	height: 100px;
	margin-top:27px;
	    
}
.footer .yx-cp-item .yx-w-btn a:nth-child(1){
	width: 80px;
	height: 100px;
	border:1px solid #ededed ;
	display: inline-block;
	margin-right: 28px;    
}
.footer .yx-cp-item .yx-w-btn a:nth-child(1) img{
	float: left;  
	margin-top: 24px;
	margin-left: 23px;
}
.footer .yx-cp-item .yx-w-btn a:nth-child(1) span{
	float: left;  
	margin-top: 18px;
	margin-left: 9px;
	color: #333;
}
.footer .yx-cp-item .yx-w-btn a:nth-child(2){
	width: 80px;
	height: 100px;
	border:1px solid #ededed ;  
	display: inline-block;  
}
.footer .yx-cp-item .yx-w-btn a:nth-child(2) img{
	float: left;  
	margin-top: 24px;
	margin-left: 23px;
}
.footer .yx-cp-item .yx-w-btn a:nth-child(2) span{
	float: left;  
	margin-top: 18px;
	margin-left: 9px;
	color: #333;
}
.footer .m-title{
	font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1;
    text-align: center;
}
.footer .yx-cp-item .yx-cp-desc{
	width:288px;
	text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;
    margin-top: 28px;
    line-height:23px;
    margin-left: 36px;
}
.footer .yx-cp-item .qq_weibo{
	height: 32px;
	margin-left: 36px;
	float: left;
	line-height:32px;
}
  
.footer .yx-cp-item .img_ma{
	margin-top: 26px;
	margin-bottom:10px;
}
   
/*底部黑边*/
.wrapper_copy{
	height:204px;
	width: 100%;
	background: #414141;
	float: left;
}
.copy{
	height:204px;
}
.copy .copy_icon{
	height:52px;
	padding-top:52px;
	text-align: center;
	box-sizing: border-box;
}

.copy .copy_icon a{
	float: left;
	
}
.copy .copy_icon a:nth-child(2){
	float: left;
	margin:0 208px;
}
.copy .yx-hr{
	width: 100%;
	height:85px;
	float: left;
	border-top:1px solid #4f4f4f;
	margin-top: 24px;
	color: #999999;
	text-align: center;
}
.copy .yx-hr p:nth-child(1){
	margin-top:23px;
	margin-bottom:10px;
}
/*广告*/
.gg-fixed{
	width: 72px;
	height: 435px;
	position: fixed;
	top: 145px;
	right: 0;
	z-index:9999;
}

.gg-fixed .ver_ul{
	width: 100%;
	height: 210px;
}

.gg-fixed .ver_ul li{
	width: 100%;
	height: 69px;
	border-bottom:1px solid #efefef ;
	text-align: center;
	cursor: pointer;
	background: #fff;
}
.gg-fixed .ver_ul li:nth-child(1) p{
	color: #bc3b3b;
	line-height: 18px;
	
}
.gg-fixed .ver_ul li:nth-child(1) span{
	line-height: 22px;
	
}
.gg-fixed .ver_ul li:nth-child(2) img{
	float: left;
	margin:14px 0 0 16px;
}
.gg-fixed .ver_ul li:nth-child(2) span{
	float: left;
	margin:12px 0 0 8px;
}
.gg-fixed .ver_ul li:nth-child(3) img{
	float: left;
	margin:12px 0 0 24px;
	width: 16px;
	height: 16px;
	transform: rotateZ(180deg);
}
.gg-fixed .ver_ul li:nth-child(3) span{
	float: left;
	margin:12px 0 0 8px
}

.fixed_l{
	position: absolute;
	top: 678px;
	left: 80px;
	z-index:999;
}

.fixed_l img{
	width:110px;
	height:435px;
}

/*广告*/
.gg-fixed{
	width: 72px;
	height: 435px;
	position: fixed;
	top: 145px;
	right: 0;
	z-index:9999;
}

.gg-fixed .ver_ul{
	width: 100%;
	height: 210px;
}

.gg-fixed .ver_ul li{
	width: 100%;
	height: 69px;
	border-bottom:1px solid #efefef ;
	text-align: center;
	cursor: pointer;
	background: #fff;
}
.gg-fixed .ver_ul li:nth-child(1) p{
	color: #bc3b3b;
	line-height: 18px;
	
}
.gg-fixed .ver_ul li:nth-child(1) span{
	line-height: 22px;
	
}
.gg-fixed .ver_ul li:nth-child(2) img{
	float: left;
	margin:14px 0 0 16px;
}
.gg-fixed .ver_ul li:nth-child(2) span{
	float: left;
	margin:12px 0 0 8px;
}
.gg-fixed .ver_ul li:nth-child(3) img{
	float: left;
	margin:12px 0 0 24px;
	width: 16px;
	height: 16px;
	transform: rotateZ(180deg);
}
.gg-fixed .ver_ul li:nth-child(3) span{
	float: left;
	margin:12px 0 0 8px
}

.fixed_l{
	position: absolute;
	top: 678px;
	left: 80px;
	z-index:999;
}

.fixed_l img{
	width:110px;
	height:435px;
}


















